
menu "Astell&Kern support"

config SND_USE_DYNAMIC_CONF
	prompt "Use dynamic configurations"
	bool

menuconfig SND_AK_AUDIO
	bool "Use Astell&Kern audio module"

if SND_AK_AUDIO
source "sound/soc/akaudio/Kconfig"
endif

config AK_MODEL_FEATURES
	bool "Enable distinguishing Astell&Kern models and features"

config AK_GPIO_CONFIGS
	bool "Enable Astell&Kern GPIO configuration"

endmenu

